/* MAIN */
body 		{margin:0px;margin-top:0;margin-bottom:10px;font-size:13px;font-family: tahoma, verdana, arial;color:#333;background:#EBECE3;}
img 			{border:0;}
table 		{font-size:13px;font-family: tahoma, verdana, arial;}
.lh, span.lh a {line-height:1.6em;color:#333;}
#mast 		{padding:0;background:#ddd;cursor: hand;cursor: pointer;}
#bodyWrap 	{padding:10px;padding-top:0;width:765px;margin-left:auto;margin-right:auto;text-align:left;background:#fff;}
#page 		{padding-top:0px;width:100%;}
a, a:link, a:visited, a:active {color:#F44E00;text-decoration: none;}
a:hover 		{color:#222;text-decoration:none;}
form 		{margin:0;padding:0;}
div 			{padding:5px;text-align:left;font-size:12px;}
.mast 		{padding:0;background:#2b9cbd;}
.mLogo 		{padding:10px;float:left;background:#2b9cbd;height:35px;color:#fff;}
.mLogo a, .mLogo a:visited {color:#fff;}

/* MENU */
#menu 		{font-family:tahoma;font-size:10px;text-transform:uppercase;color:#fff;background:#333;padding:5px;border-top:1px solid #fff;}
#menu a 		{color:#fff;}
#menu a:hover 	{color:#fff;}

.mMenu 		{background:#2b9cbd;border-left:1px solid #fff;width:59px;height:45px;color:#fff;font-family:tahoma;font-size:10px;float:right;padding:5px;}
.mMenu:hover 	{background:#666;cursor:hand;cursor:pointer;}
.mMenu a, .mMenu a:link, .mMenu a:visited {color:#fff;}
a.mMenu, a.mMenu:link, a.mMenu:visited {color:#fff;}

/* FRONT */
.frontBox 	{background:url(img/frontBlog.gif) top repeat-x #f8f8f8;margin-bottom:10px;}
.frontBox a 	{color:#333;}
.frontAuthor 	{border-bottom:1px solid #ddd;font-size:10px;}
.frontHeader 	{padding:0 5px;font-family:tahoma;font-size:18px;font-weight:bold;}
.frontText 	{font-size:11px;font-family:tahoma;line-height:1.4em;}
.frontDig		{font-size:10px;font-family:tahoma;color:#fff;padding:5px;font-weight:normal;margin-right:-5px;}

.sideBlogName 	{padding:2px;font-size:9px;width:25px;float:left;background:#666;text-align:center;color:#fff;margin-right:3px;}
.sideBlogDig 	{padding:2px;font-size:9px;width:20px;float:left;text-align:center;color:#fff;margin-right:3px;}
.sideBlogTitle	{font-size:9px;padding:2px 0 2px 3px;}

.listBlogBox 	{padding:0;width:181px;float:left;margin-right:10px;margin-bottom:10px;}
.listBlogGame 	{font-size:13px;background:url(img/tab.gif) no-repeat #fff;color:#fff;font-weight:bold;}
.listBlogGame a {color:#fff;}
.listBlogSub, .listBlogSub a {background:#eee;color:#333;}

.liked {background-color:#82B725;}

/* TEXT */
.title {font-weight:bold;font-size:13px;}
.title2 {font-weight:bold;font-size:18px;}
.title3 {font-weight:bold;font-size:21px;}
.statg {color:green;font-weight:bold;text-decoration:underline;}
.statb {color:red;font-weight:bold;text-decoration:underline;}
.content {font-size:12px;}
.rating {font-weight:bold;font-size:15px;font-family:arial;}
.ratingBox {color:#fff;float:left;text-align:center;line-height:1.6em;padding:3px 0 0 0;width:55px;height:52px;margin: 0 5px 0px 0;font-size:9px;}
.ratingScore {font-family:arial;font-weight:bold;font-size:15px;}
a.link {font-weight:bold;text-decoration:underline;color:#FF6600;}
.msgHeader {background-color:#E9FCDA;font-weight:bold;}
.msgSubHeader {background-color:#EEE;font-size:9px;padding:2px 5px;}
.reviewHeaderOfficial, .reviewHeaderOfficial a {font-weight:bold;font-size:18px;color:#0098FF;}
.reviewHeader{font-weight:bold;font-size:11px;border-bottom:1px dashed #ccc;text-transform:uppercase;}
.reviewRating {color:#79A95C;font-size:11px;font-weight:normal;}
.review {background-color:#F5F5F5;}
.user, .user a {color:#0098FF;}
.rateOut {border:1px solid #5C5C5C;width:121px;padding:0;}
.rateIn {padding:0;font-size:9px;font-weight:normal;color:#666;border:1px solid #FFF;width:119px;background-color:#FFF;}
span.rateP {display:block;background:#79A95C;float:left;}
span.rateM {display:block;background:#D5D5D4;margin-right:3px;float:left;}
.pros {color:#79A95C;font-weight:bold;}
.cons {color:#A95C5C;font-weight:bold;}

/* lightbox */
#lightbox		{background-color:#eee;padding:10px;padding-right:5px;}
#lightboxDetails{font-size:0.8em;padding-top:0.4em;}	
#lightboxCaption{float:left;}
#keyboardMsg	{float:right;}
#closeButton	{top:5px;right:5px;}
#lightbox img	{border:none;clear:both;}
#overlay img	{border:none;}
#overlay		{background-image: url(img/overlay.png);}
* html #overlay	{background-color: #333;back\ground-color: transparent;background-image: url(blank.gif);}
	
.topicBar 		{font-family:tahoma;color:#fff;background:#2b9cbd;padding:10px;}
.topicBar a 	{color:#ffffff;}
.topicSubText 	{font-size:11px;font-weight:bold;font-family:tahoma;padding:0;padding-top:3px;}

.topicSubBar 	{background:#CFE7EE;}

/* MISC */
.header {font-weight:bold;border-bottom:5px solid #436EB2;}
.header2 {background-color:#D2FFF4;color:#333;}
.header3 {background-color:#9AD1E1;color:#666;}
.imgLeft {float:left;margin:5px;}

.np {padding:0px;}
.rf {float:right;text-align:right;}
.lf {float:left;text-align:right;}
.cl {clear:left;}
.cb {clear:both;}
.bb {border-bottom:1px solid white;}

.searchWord {background:#FFFFCC;}
.stamp {width:35px;height:35px;margin-right:5px;float:left;}

div.sep {border-bottom:1px solid #ccc;clear:left;}

td.sep {background:#ddd; padding:0px;margin:0px;height:1px;}

/* FORMS */
input, textarea {font-size: 11px;font-family:tahoma;padding:2px;}
select {font-size: 11px;font-family:tahoma;}
button {font-size: 11px;font-family:tahoma;border:1px solid #999;}
input:focus, textarea:focus {background-color:#FFFFEE;}
textarea {width:100%;}

.toolButton 		{border:1px outset #eee;padding:4px 3px 1px 3px;cursor:pointer;margin-right:5px;background:#fff;width:13px;float:left;}
.toolButton:hover	{border:1px inset #eee;padding:5px 2px 0px 4px;}

.postBox 			{border:1px inset #ccc;margin-top:5px;padding:0 0 0 5px;background-color:#FFFFEE;}
.postBox input 		{background-color:#FFFFEE;border:0;width:90%;}
.postBox textarea	{background-color:#FFFFEE;border:0;width:100%;}


/* TEXT */

.content {font-family:tahoma;font-size:13px;line-height:1.4em;}
.b {font-weight:bold;}

.small 	{font-size:9px;font-weight:normal;}

.color2 {color:#2255A4;}
.misc1 {background-color:#F5F5F5;}
.misc2 {background-color:#DFDFDF;}
.misc3 {background-color:#E5E5E5;}
.misc4 {background-color:#f0f0f0;}
.misc5 {background-color:#f9f9f9;}
.error1 {background-color:#FFFFDF;}
.error2 {background-color:#FFDFDF;}
.error3 {background-color:#E2FEDD;}
.errorField {background-color:#FDFDDE;}
.errorField2 {background-color:#FFFFC1;}

.topMsg {text-align:center;margin-bottom:10px;margin-top:5px;background:#2B9CBD;color:#fff;}
.topMsg a {color:#fff;}
.hiLite1 {background:#FFFFC1;}
.warning {background:yellow;color:black;padding:3px;}
.normal, .normal a {color:#333;}
.normalw, .normalw a {color:#fff;}
.normalSize {font-size:11px;}

.date {color: #666;font-size:9px;font-weight:normal;}
.hand {cursor: hand;cursor: pointer;}

.csep {border-bottom:1px solid #ccc;clear:left;font-size:9px;font-weight:normal;color:#333;}
.csep a {color:#333;}

/* BADGE */
.badgeBox 		{background:#555;margin-bottom:5px;font-size:10px;color:#fff;padding:3px;}
.badgeBox 		{background:#536A87;margin-bottom:5px;font-size:10px;color:#fff;padding:3px;}
.badgeBox a 	{color:#fff;}
.badgeTitle 	{background:#FBE05F;color:#000;font-size:10px;font-weight:bold;padding:3px;}
.badgeTitle a	{color:#000;}
.badgeFriend 	{background:#fff;color:#000;padding:3px;font-size:10px;cursor: hand;cursor: pointer;}
.badgeFriend a	{color:#000;}

.friendBox 		{font-size:9px;font-family:arial;text-align:center;margin-bottom:10px;margin-top:5px;background:#F6F7E0;}
.friendBox a 	{color:#666;}

.sideReleaseBox {height:60px;background-color:#fff;color:#333;margin-bottom:10px;border-top:2px solid #ccc;}
.sideReleaseTitle {font-size:10px;background:#fff;color:#333;margin:-5px;}
.sideReleaseTitle a {color:#333;}

/* COL */
.left a, .left a:visited {color:#2B9CBD;}
.left {color:#2B9CBD;font-family:tahoma;font-size:9px;text-transform:uppercase;background:#CFE7EE;font-weight:bold;}
.right a, .right a:visited {color:#666848;}
.right {background:#DBDCC9;color:#666848;text-transform:uppercase;font-size:10px;}
.mid a {color:#666;}
.mid {background-color:#EEE;color:#666;font-size:10px;font-weight:bold;text-transform:uppercase;margin-bottom:5px;}
.rules a, .rules a:visited {color:#333;}
.rules {border-bottom:1px solid #999;font-weight:bold;color:#333;text-transform:uppercase;font-size:10px;}
.ext a {color:white;}
.ext {background-color:#C06084;font-weight:bold;color:white;font-family:tahoma, verdana;}
.mini, .mini a {background-color:#B8A468;color:#FFF;}
.frontKioskItem {background:#000;color:#fff;}

.sideColumn {padding:0;vertical-align:top;border-right:0px solid #ddd;}
.sideModule {padding:0 0px 0 0 ;margin-bottom:10px;margin-left:0px;}
.middleColumn {padding:0 0 0 10px;vertical-align:top;}
.rightModule {padding:5px;margin-bottom:5px;margin-left:0px;padding-top:0;padding-left:0px;}
.rightColumn {vertical-align:top;border-left:0px solid #ddd;padding-top:0;}

/* CALENDAR */
.calendarBack {background-color:#FFFFCC;}
.calendarEventBack {background-color:#D8E4F1;}
.calendarOldEventBack {background-color:#eeeeee;}

.case {height:38px;padding-left:20px;padding-top:10px;line-height:1.5em;font-size:9px;}
.caseText {font-size:9px;padding:0 15px 0 0;}

/* FORUM */
.bbThreadStarter {border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-right:1px solid #999;border-bottom: 1px solid #999;padding:5px;}

.bbTop {font-family:tahoma;color:#fff;background:#2b9cbd;padding:10px;font-weight:bold;}
.bbTop a {color:#fff;}

.bbDesc, .bbDesc a {font-size:13px;font-weight:normal;color:#666;}
.bbCommands {background-color:#eee;font-size:9px;}
.bbTopic, .bbTopic a {background-color:#4BA433;font-weight:bold;color:white;}
.bbPost {border-bottom:1px solid #CCC;}
.bbPost a {color:#666;}
.postAuthor {border-bottom:1px solid #ccc;font-size:11px;}

.post {background:#f5f5f5;}
.post a, .post a:visited, .post a:link, .post a:active {color:#333;}
.postTop {height:4px;padding:0px;overflow:hidden;}
.postBot {height:4px;padding:0;overflow:hidden;}
.postSub {color:#333;font-size:9px;background:#fff;margin-top:10px;}
.postSub a {color:#333;}

.quote{border-left:2px solid #CCC;font-size:9px;color:#666;}
#desc ul {margin-left:13px;margin-top:3px;padding-left:13px;padding-top:3px;line-height:1.4em;}
.center {text-align:center;}

.blob {vertical-align:top;float:left;padding-right:0px;padding-left:0px;width:102px;text-align:center;font-size:9px;padding:3px;margin-right:5px;margin-bottom:5px;}
.listProductBB {border-bottom:1px dashed #ccc;clear:left;}

a.btn, span.btn, a.btn:visited {background:#797979;color:#fff;font-family:tahoma;text-transform:uppercase;width:64px;text-align:center;padding:1px;font-size:9px;font-weight:normal;display:block;margin-right:2px;margin-bottom:2px;line-height:1.2em;}
a.btn:hover {background:#219ADE;color:#fff;}

a.btnTiny, span.btnTiny, a.btnTiny:visited {color:#fff;background:#999;font-family:tahoma;text-transform:uppercase;width:54px;text-align:center;padding:1px;font-size:9px;font-weight:normal;display:block;margin-bottom:1px;margin-right:2px;}
a.btnTiny:hover {background:#666;color:#fff;}

a.btnBuy, span.btnBuy, a.btnBuy:visited {color:#FFF;background-color:green;font-family:tahoma;text-transform:uppercase;width:48px;text-align:center;padding:1px;font-size:9px;font-weight:normal;display:block;margin-bottom:1px;margin-right:2px;}
.btnExtra1 {border-bottom:2px solid #3dad91}
.btnExtra2 {border-bottom:2px solid #ffb300;}
span.btnTinyOn {color:#999;font-family:tahoma;text-transform:uppercase;width:54px;text-align:center;padding:1px;font-size:9px;font-weight:normal;display:block;margin-bottom:1px;border:1px solid #FFFABE;margin-right:2px;background-color:#FFFABE;}
a.btnClear, span.btnClear {color:#666;font-family:tahoma;text-transform:uppercase;width:54px;text-align:center;padding:1px;font-size:9px;font-weight:normal;display:block;margin-bottom:1px;margin-right:2px;}

.buttonAction {background-color:#60BFC0;border-bottom:1px solid white;}
.buttonLink {background-color:#60BFC0;border-bottom:1px solid white;border-right:1px solid white;font-size:9px;float:left;}
.buttonLink a, .buttonAdmin a, .buttonAction a {color:white;}

.trailer {padding:5px;margin-top:0px;float:right;width:70px;height:20px;font-size:9px;margin-left:5px;margin-bottom:5px;background-color:#000;color:#fff;}
a.trailer, a.trailer:visited {color:#fff;}

.buttonAdmin {background-color:#666;border-bottom:1px solid white;font-size:9px;float:left;}
.copyright {background-color:#fff;border-top:1px solid #ddd;padding:10px;margin-top:10px;font-size:11px;margin-bottom:10px;color:#999;}
.copyright a {color:#999;}
.ae {color:black;font-weight:bold;background:yellow;padding:3px;}
.aet {background:#FF6600;color:white;padding:4px;}

.ps1 {background-color:#FFFFDF;}
.ps2 {background-color:#FFFFEF;}
.ps3 {background-color:#DFF1FF;}
.ps4 {background-color:#F0F8FF;}
.ps5 {border-right:1px solid #eee; text-align:center;}
.ps6 {border-right:1px solid #eee;}

.auction td {border-bottom:1px solid #ccc;line-height:1.4em;}
.auction1 {width:15%;font-weight:bold;background:#f9f9f9;font-size:9px;}
.auction2 {width:30%;font-weight:bold;background:#f9f9f9;font-size:9px;}

.auctionUser {background:#666;color:#fff;font-size:11px;}
.auctionUser a, .auctionUser a:visited {color:#fff;}

.focusTop {height:48px;background:#999;padding:10px;}
.focusTop a {color:#fff;}
.focusHeader {font-weight:bold;font-size:18px;line-height:15px;font-family:arial;color:#fff;}

.screenShot 	{text-align:center;float:left;width:128px;border:1px solid #ccc;font-size:9px;margin-right:10px;margin-bottom:5px;line-height:1.4;background-color:#FFF;}
.imj 			{padding-left:0;padding-top:0;padding-right:10px;padding-bottom:5px;}
.form 			{padding:0;margin:0;}
.morePics 		{width:34px;height:18px;text-align:center;padding:2px 1px 3px 1px;margin-top:5px;margin-right:5px;border:1px solid #ccc;float:left;}
.morePicsNew 	{width:34px;height:18px;text-align:center;padding:2px 1px 3px 1px;margin-top:5px;margin-right:5px;border:1px solid #000;float:left;font-size:10px;font-family:tahoma;}

.priceL {color:red;}
.priceH {color:green;}

/* ADMIN */
.ADerror2bg {background:#FFDFDF;}
.ADerror3bg {background:#E2FEDD;}
.ADinput {border:0;font-weight:bold;text-align:right;}
.ADinput2 {border:0;}